.ngg-slider{
    margin-bottom:20px !important;
    &__slide{  
        &__wrapper{
            width:100%;
            display:flex;
            align-items:center;
            justify-content:center;
            flex-direction:column;
          
           
            &__image{
                align-self:center
                }

            &__caption{
                background-color:rgba(0,0,0,0.7) ;
                width:100%;
                color:white;
                padding:2px;
            }

            &__stat{
                position:absolute;
                left:0px;
                top:20px;
                font-size:22px;
            }
        }
        
    }
    

}